[Desktop Entry]
Name=윤Zip(YoonZip)
Exec=yoonzip %U
Type=Application
Comment=윤Zip을 실행합니다.
Icon=application-x-archive
Categories=Utility;Archiving;
MimeType=application/zip;

